.clickup-table-view
  overflow: auto
  margin: 30px

.cu-help-line-col
  position: absolute
  opacity: 1

.cu-help-rect
  box-sizing: border-box
  border: 1px solid #516cf0
  background-color: rgba(81, 108, 240, .3)
  z-index: 100

.cu-col-tool
  position: absolute
  display: flex
  align-items: flex-end
  overflow: hidden
  z-index: 99
  height: 30px

  .cu-col-tool-cell
    position: relative
    background-color: #f3f3f3
    border-right: 1px solid #ddd

    &:hover
      background-color: #e6e6e6

      .cu-col-tool-cell-add-col-left,
      .cu-col-tool-cell-add-col-right
        opacity: 1
        z-index: 10

    &:first-child
      border-left: 1px solid #ddd

    &.active
      background-color: #516cf0

      .cu-col-tool-cell-dropdown-icon-dot
        background-color: #fff

  .cu-col-tool-cell-add-col-left,
  .cu-col-tool-cell-add-col-right
    position absolute
    right: -11px
    top: -20px
    width: 20px
    height: 20px
    line-height: 18px
    text-align: center
    border-radius: 2px
    font-size: 20px
    color: #e6e6e6
    z-index: 1
    font-weight: 100
    opacity: 0
    cursor: pointer

    &:hover
      background-color: #516cf0
      color: #fff

  .cu-col-tool-cell-add-col-left
    right: auto
    left: -10px

  .cu-col-tool-cell-dropdown-icon
    position: absolute
    width: 80px
    height: 12px
    top: 0
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

    &-dot
      display: block
      width: 4px
      height: 4px
      margin-right: 4px
      border-radius: 4px
      background-color: #aaa

  .cu-col-tool-cell-holder
    position: absolute
    right: -1px
    top: 0
    bottom: 0
    z-index: 3
    width: 1px
    background-color: transparent
    cursor: ew-resize
    z-index: 10

    &:hover
      background-color: #516cf0

    &::before
      content: ""
      position: absolute
      top: 0
      left: -6px
      display: block
      width: 8px
      height: 100%

    &::after
      content: ""
      position: absolute
      top: 0
      right: -6px
      display: block
      width: 8px
      height: 100%
