.cu-draggable-anchor
  &.cu-draggable-anchor-center
    display: flex
    align-items: center

  .cu-draggable-anchor-icon
    display: flex
    align-items: center
    cursor: grab

    &:hover
      background-color: rgba(240, 240, 240, .6)
      border-radius: 4px

.cu-dragging-help-line
  position: absolute
  background-color: #516cf0
  height: 4px
  opacity: .5
  display: none
  pointer-events: none;

.ql-editor.ql-dragging-blocks
  caret-color: #516cf0

.ql-togglelist-placeholder
  &.allowed-active
    background-color: #516cf0
    cursor: pointer

  &.not-allowed-active
    background-color: rgba(209,100,100,.3)
    cursor: not-allowed
