.cu-col-tool-dropdown
  background-color: #fff
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15)
  font-size: 14px
  z-index: 100
  overflow: hidden
  user-select: none

  .cu-col-tool-dropdown-item
    display: flex
    align-items: center
    padding: 10px 16px
    background-color: #fff
    cursor: pointer
    color: #595959
    overflow: hidden
    text-overflow: ellipsis

    &:hover
      background-color: #efefef

    .cu-col-tool-dropdown-item-icon
      margin-right: 8px
      height: 20px
      width: 20px
      font-size: 0

    .cu-col-tool-dropdpwn-item-text
      font-size: 14px