table.clickup-table
  position: relative
  table-layout: fixed
  border-collapse: collapse
  border-spacing: 0
  word-wrap: break-word
  word-break: normal
  margin: 0
  font-weight: 400
  -webkit-box-sizing: border-box
  box-sizing: border-box
  border: 1px solid #d9d9d9
  cursor: default

  tbody,
  tr,
  th,
  td
    margin: 0
    font-weight: 400
    -webkit-box-sizing: border-box
    box-sizing: border-box

  tr
    td
      min-width: 90px
      white-space: normal
      word-wrap: break-word
      border: 1px solid #d9d9d9
      vertical-align: top
      padding: 4px 8px
      cursor: default

  p
    margin: 0;


